<!DOCTYPE html>
<html>
  <head>
    <title>Tiendaa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
     <h1 id= "titulo"> TIENDA </h1>
     <div>
     <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
     </div>
   </header>
  <main>
      
      <div id= "menuprincipal" > 
         <ul>
            <li><a href="/categories"  data-toggle="tooltip" data-placement="top" title="Tooltip on top">categorias</a></li>
            <li><%= link_to 'Producto', products_path %> </li>
         </ul>
         <button type="button" class="btn btn-primary">Primary</button>
         <button type="button" class="btn btn-secondary">Secondary</button>
         <button type="button" class="btn btn-success">Success</button>
         <button type="button" class="btn btn-danger">Danger</button>
         <button type="button" class="btn btn-warning">Warning</button>
         <button type="button" class="btn btn-info">Info</button>
         <button type="button" class="btn btn-light">Light</button>
         <button type="button" class="btn btn-dark">Dark</button>
      </div>
      <div id= "contenido"> 
      <%= yield %>
      </div>
  </main>
 
  </body>
</html>
